* {
	outline: 0 !important;
}

.bg-primary {
	background-color: #303f9f !important;
}

.text-primary {
	color: #303f9f !important;
}

.bg-accent {
	background-color: #b71c1c !important;
}

.text-accent {
	color: #b71c1c !important;
}

.navbar-inverse * {
	color: white !important;
}

.navbar-brand {
	cursor: default;
}

#root {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#target {
	overflow-y: auto;
}

.loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999999;
	background-color: white;
}


.loader:after {
	content: ' ';
	width: 48px;
	height: 48px;
	position: absolute;
	top: calc(50% - 24px);
	left: calc(50% - 24px);
	border: 3px solid #b71c1c;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 650ms infinite linear;
	-o-animation: cssload-spin 650ms infinite linear;
	-ms-animation: cssload-spin 650ms infinite linear;
	-webkit-animation: cssload-spin 650ms infinite linear;
	-moz-animation: cssload-spin 650ms infinite linear;
}

#alerts {
	position: absolute;
	left: 25%;
	right: 25%;
	z-index: 10;
}

#alerts > .alert {
	opacity: 0.8;
	margin-top: 4px;
	margin-bottom: 4px;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

#menu {
	border-right: #bcbcbc 1px solid;
}

#menu .nav-link {
	width: 100%;
	color: #6e6e6e;
	transition: background-color 0.2s;
}

#menu .nav-link:hover {
	color: #6e6e6e;
	background-color: #f3f3f3;
}

#menu .nav-link.active {
	background-color: #dbdbdb;
	color: #6e6e6e;
}

.card, .card * {
	border-radius: 0 !important;
}

.card-columns {
	column-count: 4;
}

.card-footer {
	padding: .4rem 1rem;
}

.card a {
	text-decoration: none !important;
}

.btn {
	cursor: pointer;
}

#auth_block .card-header {
	background-color: #303f9f !important;
	border-color: #1a237e;
	color: white;
}

.btn-accent {
	color: white;
	background-color: #b71c1c;
	border-color: #a81a1a;
}